/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #256fda;
  --ifm-color-primary-dark: #2266c8;
  --ifm-color-primary-darker: #1f5db7;
  --ifm-color-primary-darkest: #1c54a5;
  --ifm-color-primary-light: #377add;
  --ifm-color-primary-lighter: #5a92e3;
  --ifm-color-primary-lightest: #4886e0;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9fc0ef;
  --ifm-color-primary-dark: #8eb4ec;
  --ifm-color-primary-darker: #7ca9e9;
  --ifm-color-primary-darkest: #6b9de6;
  --ifm-color-primary-light: #b1cbf2;
  --ifm-color-primary-lighter: #c2d7f5;
  --ifm-color-primary-lightest: #d3e2f8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none !important;
}
